<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link rel="stylesheet" href="./css/animate.css">
    <link rel="stylesheet" href="./css/homepage-styles.css">
    <title>Homepage</title>

</head>
<body>
    <section id="nav">
        
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
                <div class="container-fluid">
                    <a href="/" class="navbar-brand">LOGO</a>
                    <a href="/" class="logo"><img src="./images/logo.jpeg" style="border-radius: 50%; width: 100px; box-shadow:10px 10px 30px rgb(1, 7, 20)"></a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collpase navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav" style="margin-left: auto;">
                            <li class="nav-item">
                                <a href="/" class="nav-link active">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="/login" class="nav-link active">Login</a>
                            </li>
                            
                            <li class="nav-item">
                                <a href="#footer" class="nav-link active">Contact Us</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                   
        </nav>
    </section>
    <section id="header">

    </section>

<!---------------------------------------------------------------------------------------------------------------------------------------------->

<section id="campaigns" >
        
    <div class="main-container">
    <h1 class="title">Campaigns</h1>
    <section class="main-card" data-aos="fade-right">
        <img src="./images/bih1.jpg" class="animated fadeIn delay-1s" alt="">
        <div>
            <h2 class="animated fadeIn delay-2s ">Poshan Maah</h2>
            <p class="animated fadeIn delay-3s">The States and Districts have been asked to orgainse all these initiatives during the 'Poshan Maah' or Nutrition Month which is celebrated every September under the Poshan Abhiyaan.</p>
            <a href="https://medicaldialogues.in/campaign-under-poshan-abhiyan-to-focus-on-tackling-malnutrition-among-slum-dwellers-migrant-population/" class="btn-yellow animated fadeIn delay-4s">Learn More</a>
        </div>
    </section>
    <section class="main-card" data-aos="fade-left">
            <img src="./images/bih2.jpg" class="animated fadeIn delay-1s" style="order:2;" alt="">
            <div>
                <h2 class="animated fadeIn delay-2s">Anganwadi workers distribute awareness pamphlets</h2>
                <p class="animated fadeIn delay-3s">District Collector S.A. Raman inaugurated awareness campaigns conducted as part of Poshan Abhiyaan at the Salem Collectorate. </p>
                <a href="https://www.thehindu.com/news/cities/Coimbatore/awareness-campaigns-on-poshan-abhiyaan-launched/article29560118.ece" class="btn-yellow animated fadeIn delay-4s">Learn More</a>
            </div>
    </section>
    </div>
</section>
<section id="middle">

</section>
<section id="events">
        <div class="main-container">
        <h1 class="title md-light">Events</h1>
        <section class="main-card" data-aos="fade-right">
            <img src="./images/bih3.jpg" class="animated fadeIn delay-1s" alt="">
            <div>
                <h2 class="light animated fadeIn delay-2s">Jan Andolan </h2>
                <p class="low-light animated fadeIn delay-3s">The guideline specifies key themes, behaviours,
                        messages, platforms and materials that are to be
                        used for Jan Andolan Action Planning. It also provides
                        a basket of activity options which can be planned at
                        national, state and district level. In that sense, the
                        guideline is an extremely facilitating planning tool.</p>
                <a href="https://icds-wcd.nic.in/nnm/NNM-Web-Contents/UPPER-MENU/Newsletter/POSHAN-Abhiyaan-Newsletter-Vol-1.pdf" class="btn-aquagreen animated fadeIn delay-4s">Learn More</a>
    </section>
    <section class="main-card" data-aos="fade-left">
            <img src="./images/bih4.jpg" class="animated fadeIn delay-1s" style="order:2;"alt="">
            <div>
                <h2 class="light animated fadeIn delay-2s">Promoting first 1000 days through
                        convergence</h2>
                <p class="low-light animated fadeIn delay-3s">The Ministry of Women and Child Development
                        awarded the State of Madhya Pradesh for developing
                        the convergence and for registering the highest
                        number of activities during Poshan Maah.</p>
                <a href="https://icds-wcd.nic.in/nnm/NNM-Web-Contents/UPPER-MENU/Newsletter/POSHAN-Abhiyaan-Newsletter-Vol-1.pdf" class="btn-aquagreen animated fadeIn delay-4s">Learn More</a>
    </section>
    </div>
</section>
<section id="lower">

</section>
<section id="missions">

    <div class="main-container">
        <h1 class="title xl">Missions</h1>
        <p class="l " data-aos="fade-right" data-aos-delay="1000"><i class="fab fa-servicestack"></i>   Inter-sectoral convergence for better service delivery.</p>

        <p class="l" data-aos="fade-left"data-aos-delay="2000"><i class="fas fa-tachometer-alt"></i>  Use of technology (ICT) for real time growth monitoring and tracking of women and children.</p>

        
        <p class="l " data-aos="fade-rght" data-aos-delay="3000"><i class="fas fa-first-aid"></i>  Intensified health and nutrition services for the first 1000 days.</p>
        <p class="l" data-aos="fade-left" data-aos-delay="3500"><i class="fas fa-users"></i>  Jan Andolan.</p>
    </div>
</section>
<footer class="center" id="footer">
    <h1 class="xxl low-light">Contact us</h1>
</footer>




<!--------------------------------------------------------------------->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4b545cd2b1.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
   
    <script>
        AOS.init({
            offset: 120, 
            delay: 10, 
            duration: 1000, 
            easing: 'ease'
        })
    </script>
    
 </body>

 </html>